body {
  font-family: "Trebuchet MS", sans-serif;
}
h1 {
  color: red;
  font-size: 24px;
}
p {
  font-size: 14px;
}
h2 {
  color: #801515;
  font-size: 16px;
}
ul {
  font-size: 14px;
  color: gray;
}
